/* start images */
.aura1 {
  background-image: url("../images/cosmos-mixed-sensation-seeds.jpg");
  background-image: url("../images/cosmos-mixed-sensation-seeds-seed.jpg");
}

.aura2 {
  background-image: url("../images/brinjal-seeds-seed.jpg");
  background-image: url("../images/brinjal-seeds.jpg");
}

.aura3 {
  background-image: url("../images/broccoli-seeds-seed.jpg");
  background-image: url("../images/broccoli-seeds.jpg");
}

.aura4 {
  background-image: url("../images/capsicum-yellow-seeds-seed.jpg");
  background-image: url("../images/capsicum-yellow-seeds.jpg");
}

.aura5 {
  background-image: url("../images/carrot-seeds-seed.jpg");
  background-image: url("../images/carrot-seeds.jpg");
}

.aura6 {
  background-image: url("../images/strawberry-seeds-seed.jpg");
  background-image: url("../images/strawberry-seeds.jpg");
}

.aura7 {
  background-image: url("../images/round-tomato-seeds-seed.jpg");
  background-image: url("../images/round-tomato-seeds.jpg");
}

.aura8 {
  background-image: url("../images/chili-long-green-seeds-seed.jpg");
  background-image: url("../images/chili-long-green-seeds.jpg");
}

.aura9 {
  background-image: url("../images/mint-seeds-seed.jpg");
  background-image: url("../images/mint-seeds.jpg");
}

.aura10 {
  background-image: url("../images/lotus-seeds-seed.jpg");
  background-image: url("../images/lotus-seeds.jpg");
}

.aura11 {
  background-image: url("../images/zinnia-double-mix-seeds-seed.jpg");
  background-image: url("../images/zinnia-double-mix-seeds.jpg");
}
.aura12 {
  background-image: url("../images/lady-finger-seeds-seed.jpg");
  background-image: url("../images/lady-finger-seeds.jpg");
}

.aura13 {
  background-image: url("../images/beans-seeds-seed.jpg");
  background-image: url("../images/beans-seeds.jpg");
}

.aura14 {
  background-image: url("../images/chrysanthemum-mixed-seeds-seed.jpg");
  background-image: url("../images/chrysanthemum-mixed-seeds.jpg");
}

.aura15 {
  background-image: url("../images/petunia-mixed-seeds-seed.jpg");
  background-image: url("../images/petunia-mixed-seeds.jpg");
}
.aura16 {
  background-image: url("../images/watermelon-seeds-seed.jpg");
  background-image: url("../images/watermelon-seeds.jpg");
}
.aura17 {
  background-image: url("../images/papaya-seeds-seed.jpg");
  background-image: url("../images/papaya-seeds.jpg");
}
.aura18 {
  background-image: url("../images/musk-melon-seeds-seed.jpg");
  background-image: url("../images/musk-melon-seeds.jpg");
}
.aura19 {
  background-image: url("../images/bitter-gourd-seeds-seed.jpg");
  background-image: url("../images/bitter-gourd-seeds.jpg");
}
.aura20 {
  background-image: url("../images/cauliflower-seeds-seed.jpg");
  background-image: url("../images/cauliflower-seeds.jpg");
}

/* end images */

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:disabled {
  cursor: not-allowed;
}

#app ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#app ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

#app ::-webkit-scrollbar-thumb {
  background: rgba(16, 31, 48, 0.4);
  border-radius: 10px;
}

#app ::-webkit-scrollbar-thumb:hover {
  background: rgba(16, 31, 48, 0.07);
}

.link {
  cursor: pointer;
}

.card-header {
  min-height: 65px;
}

.img-box {
  background-color: gray;
  min-width: 200px;
  width: 200px;
  height: 200px;
  transition: 0.2s;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.img-box:hover .like-label {
  right: -2px;
}

.like-label {
  color: #fff;
  background-color: orange;
  font-size: 13px;
  text-transform: uppercase;
  position: absolute;
  top: 4px;
  right: -99%;
  border-radius: 3px;
  padding: 2px 10px;
  z-index: 1;
  transition: .4s;
  cursor: pointer;
}

.item-img {
  min-width: 200px;
  width: 200px;
  height: 200px;
  transition: 0.4s;
}

.item-img:hover {
  transform: scale(1.25);
}

.small-img-box {
  background-color: gray;
  min-width: 120px;
  width: 120px;
  height: 120px;
  transition: 0.2s;
  overflow: hidden;
  border-radius: 3px;
}

.small-item-img-view {
  min-width: 120px;
  width: 120px;
  height: 120px;
  transition: 0.3s;
}

.small-item-img-view:hover {
  transform: scale(1.1);
}

.card-body {
  background-image: linear-gradient(to bottom right, #d0e5fb, #fff);
}

.card-header {
  background-image: linear-gradient(to bottom left, #d0e5fb, #fff);
}

.cart-count-text {
  color: blue;
}

.navbar {
  margin: 10px 0;
}

.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style: none;
  border-bottom: 1px solid #a3a3a3;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color: #454545;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
}

.navbar ul li.active a {
  color: blue;
}

.edit-item-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit-form {
  width: 100%;
  background-color: #d0e5fb;
  border: 1px solid #cac7c7;
  padding: 30px;
  border-radius: 5px;
}

.item-img:hover {
  transform: scale(1.25);
}

ul {
  list-style: square;
}

.jumbotron {
  background-color: #d0e5fb !important;
}

.item {
  border-bottom: 1px solid #454545;
}

.cart-notify-text {
  color: green;
  font-weight: 600;
}

.close-icon {
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close-icon:hover {
  color: #454545;
}

ul li {
  list-style: none;
}

.gal-item-wrapper {
  max-height: 500px;
  overflow: auto;
}

.gal-item-list {
  width: 250px;
  height: 250px;
  overflow: hidden;
  transition: 0.3s;
}

.gal-item {
  width: 250px;
  height: 250px;
  border: 1px solid #fff;
  transition: 0.4s;
}

.gal-item-list:hover .gal-item {
  transform: scale(1.5);
}

.gal-item-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}

.gal-item-list:hover .gal-item-text {
  top: 90%;
}

.filter-link {
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  margin-right: 3px;
}

.filter-link:hover {
  color: blue;
  background-color: #b1bbff52;
  border-left: 1px solid blue;
  border-top: 1px solid blue;
  border-right: 1px solid blue;
  border-bottom: 3px solid blue;
  transition: 0.4s;
}

.filter-link.active {
  color: blue;
  background-color: #b1bbff52;
  border-bottom: 3px solid blue;
}

@media (max-width: 767px){
  .navbar ul li a {
    font-size: 14px;
  }
}
